*{
margin: 0;
padding: 0;
}
body{
    background: #444;
    margin:0;
    font-family: monospace;
}
h1{
    color:blue;
    text-align: center;
    margin-top:20px;
}
.galeria{
    width: 90%;
    margin:auto;
    list-style: none;
    padding: 25px;
    box-sizing: border-box;
    display:flex;
    flex-grow: wrap;
}
.galeria li{
    margin:10px;
}
.galeria img{
    width: 150px;
    height: 100px;
}
.modulo{
    display:none;
}
.modulo:target{
    display:block;
    position: fixed;
    background: black;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top:250px;
}
.imagen{
    width: 100%;
    height: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.imagen a{
    color:#fff;
    font-size: 45px;
    text-decoration:none;
    margin: 0 10px;
    
}
.imagen a #img{
    margin:0;
    height: 100%;
    flex-shrink:2 ;
}
.imagen img{
    width: 710px;
    height: 100%;
    max-width: 100%;
    border:7px solid #fff;
    box-sizing: border-box;
}
.cerrar{
    display:block;
    background: white;
    width: 25px;
    height: 25px;
    margin:auto;
    text-align: center;
    text-decoration: #444;
    font-size: 25px;
    color:black;
    padding:5px;
    border-radius: 50%;
    line-height: 25px;
}
button{
    color:blue;
    margin:0px;
    padding-top: 0px;
    margin-bottom: 100%;
}
button .link{
    margin:10px 12px 10px 13px;
}